---
layout: nonavbar
---
  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Xtest</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{documentation}}">
                <a href="./documentation.html">{{_i}}Documentation{{/i}}</a>
              </li>
              <li class="{{download}}">
                <a href="./download.html">{{_i}}Download{{/i}}</a>
              </li>
            </ul>
            <ul class="nav pull-right watch-fork">
              <li>
                <iframe src="http://ghbtns.com/github-btn.html?user=msbarry&amp;repo=Xtest&amp;type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{content}}
