<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            icon="icons/tsuite.gif"
            extensions="xtest"
            id="org.xtest.XTest"
            matchingStrategy="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
            name="XTest Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.xtest.XTest.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.xtest.XTest.validate">
         <activeWhen>
            <reference
                    definitionId="org.xtest.XTest.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.xtest.XTest.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.xtest.XTest" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.xtest.XTest"
            name="Xtest">
            <keywordReference id="org.xtest.ui.keyword_XTest"/>
        </page>
        <page
              category="org.xtest.XTest"
              class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
              id="org.xtest.XTest.refactoring"
              name="Refactoring">
           <keywordReference
                 id="org.xtest.ui.keyword_XTest">
           </keywordReference>
        </page>
        <page
            category="org.xtest.XTest"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.xtest.XTest.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.xtest.ui.keyword_XTest"/>
        </page>
        <page
            category="org.xtest.XTest"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.xtest.XTest.templates"
            name="Templates">
            <keywordReference id="org.xtest.ui.keyword_XTest"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.xtest.XTest"
            name="XTest">
            <keywordReference id="org.xtest.ui.keyword_XTest"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.xtest.ui.keyword_XTest"
            label="XTest"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.xtest.XTest.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.xtest.XTest.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.xtest.XTest.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.xtest.XTest.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.xtest.XTest.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="xtest">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xtest">
        </resourceServiceProvider>
    </extension>

<!-- marker definitions for org.xtest.XTest -->
    <extension
            id="xtest.check.fast"
            name="XTest Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="xtest.check.normal"
            name="XTest Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="xtest.check.expensive"
            name="XTest Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>


   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.xtest.XTest"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.xtest.XTest.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.xtest.ui.keyword_XTest"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.xtest.XTest.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtest.XTest.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.xtest.XTest -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtest.ui.xtest.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtest.ui.xtest.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtest.ui.xtest.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.xtest.XTest.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.xtest.XTest.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<!-- Type Hierarchy  -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="org.xtest.XTest.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="org.xtest.XTest.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
				style="push"
				tooltip="Open Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtest.XTest.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchy"
				style="push"
				tooltip="Quick Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtest.XTest.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Call Hierachy -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
			<activeWhen>
				<reference
					definitionId="org.xtest.XTest.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
				style="push"
				tooltip="Open Call Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtest.XTest.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
         adaptableType="org.eclipse.xtext.ui.editor.XtextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory> 
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="org.xtest.XTest" 
                          id="org.xtest.XTest.ide.rulerActions">
	     <action
	             label="Not Used"
	             class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="org.xtest.XTest.doubleClickBreakpointAction"/>
	  </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="example.rulerContextMenuId"
         id="org.xtest.XTest.ide.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="additions"
            id="org.xtest.XTest.ide.rulerContextMenu.toggleBreakpointAction">
         </action>
      </viewerContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.xtest.XTest.compare.contentViewers"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xtest">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.xtest.XTest.compare.contentMergeViewers"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xtest" label="XTest Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.xtest.XTest.editors.documentProviders"
            class="org.xtest.ui.XTestExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="xtest">
    </provider>
  </extension>
  <extension
        id="org.xtest.ui.wizard"
        name="newXtestFile"
        point="org.eclipse.ui.newWizards">
     <category
           id="org.xtest.ui.wizards"
           name="Xtest">
     </category>
     <wizard
           category="org.xtest.ui.wizards"
           icon="icons/new_xtest.gif"
           id="org.xtest.ui.wizards.NewXtestFileWizard"
           name="Xtest File"
           class="org.xtest.ui.XTestExecutableExtensionFactory:org.xtest.ui.wizards.NewXtestFileWizard">
        <description>
           Create a New Xtest File
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.jdt.ui.JavaPerspective">
        <newWizardShortcut
              id="org.xtest.ui.wizards.NewXtestFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
        <newWizardShortcut
              id="org.xtest.ui.wizards.NewXtestFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.pde.ui.PDEPerspective">
        <newWizardShortcut
              id="org.xtest.ui.wizards.NewXtestFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.decorators"> 
	  <decorator 
	      id="org.xtest.ui.decorators.XtestNavigatorTreeDecorator" 
	      label="Xtest file decoration" 
	      state="true"
	      lightweight="true"
	      class= "org.xtest.ui.XTestExecutableExtensionFactory:org.xtest.ui.decorators.XtestNavigatorTreeDecorator" 
	      adaptable="true"> 
	      <description> 
	        Decorates passing xtest files and their containers with a green check mark.
	      </description> 
	    </decorator> 
	</extension>
	
	<!-- Xtest libraries-->
    <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.xtest.XTEST_CONTAINER"                                                        
			class="org.xtest.ui.buildpath.XtestContainerInitializer"/>                           
	</extension>
	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Xtest Libraries"
            class="org.xtest.ui.buildpath.XtestContainerWizardPage"
            id="org.xtest.XTEST_CONTAINER">
      </classpathContainerPage>
   </extension>
</plugin>
