<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="testType" name="Test Type" schema="schema/testType.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.xtest.runner.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.eclipse.ui.examples.contributions.contributedTrim">
            <control
                  class="org.xtest.runner.XtestRunnerExecutableExtensionFactory:org.xtest.runner.StatusBar"
                  id="contributions.controlContrib1">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
