// Navbar
// ---------------------------

.watch-fork {
  padding-top: 8px;
}

// Landing Page
// ---------------------------

// Jumbotron
.xtest-title {
  vertical-align:text-bottom;
  height: 100%;
  display: block;
  .btn small {
    font-size: 60%;
  }
}
.xtest-image {
  margin-top: 30px;
  display: block;
}

  
// Demo slidewhow
#mainCarousel {
  margin-left: auto;
  margin-right: auto;
  .box-shadow(0px 0px 200px 3px #808580);
  &, img { border-radius: 9px }
  max-width: 450px;
  display: block;
  background: inherit;
  border: none;
  .carousel-control {
    margin-top: 0px;
    .opacity(15);
  }

  // Hover state
  &:hover {
    .carousel-control {
      color: @white;
      text-decoration: none;
      .opacity(60);
    }
  }
}

// Features
.features {
  text-align: center;
  img {
    margin-left: auto;
    margin-right: auto;
    border: 1px @grayLighter solid;
    padding: 2px;
    border-radius: 10px;
    .box-shadow(3px 3px 3px #ccc);
  }
}

// Documentation Page
// ---------------------------

// Table-of-contents
.nav-sidebar {
  margin-top: 30px;
  position: fixed;
  .nav-list {
    padding-left: 0px;
    li {
      line-height: 15px;
    }
    li.nav-header {
      line-height: 18px;
    }
  }
}

// Documentation Page
// Provides base styling for download/changelog pages too
// ---------------------------
.informational {
  .section-marker {
    margin-top:-40px;
    padding-top:40px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    color: lighten(black, 35%);
    font-size: 22px;
    margin-top: 22px;
  }
  h3 {
    color: lighten(black, 35%);
    font-size: 18px;
    margin-top: 18px;
  }
  p {
    margin-bottom: 10px;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .doc-sec {
    padding-bottom: 60px;
  }
  section {
    padding-top: 60px;
    margin-top: -30px;
  }
  img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 0px;
  }
  
  // Slideshows used in documentation
  .carousel {
    padding-top: 5px;
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
    }
    p {
      height: 20pt;
    }
  }
  
  // Slideshow and image common styling
  .doc-image img, .carousel {
    background: inherit;
    padding: 0px;
    border: 1px @grayLighter solid;
    border-radius: 5px;
    .box-shadow(3px 3px 3px #ccc);
  }
  
  .carousel-narrow {
    max-width: 400px;
    p {
      height: 40pt;
    }
  }
}


// Download page
// ---------------------------
.download {
  .pull-right {
    float: right;
  }
  .update-table {
    th, td {
      border-top: none;
    }
  }
  tr:hover {
    .site-hash {
      opacity: 1;
    }
  }
}

.site-hash {
  display: inline;
  color: @textColor;
  .transition(opacity 0.1s ease-in 0);
  opacity: 0;
  .btn { 
    text-shadow: none;
  }
  a {
    font-size: 11px;
    color: @textColor;
  }
  a:hover {
    color: inherit;
    text-decoration: underline;
  }
}

// Changelog
// ---------------------------

.changelog {
  // inherit download page styling
  .download
  tr, td {
    border: none;
  }
  .site-hash {
    // nothing fancy for the changelog page
    opacity: 1;
  }
  h2 { margin-top: 40px }
}

// Miscellaneous global tweaks
// ---------------------------

// Big page overview title
#overview {
  margin-top: 40px;
  margin-bottom: 40px;
  h1 { font-size: 60px; }
}

// Fast carousels - replace, don't slide
.carousel.carousel-fade {
  .item {
    .transition(opacity 0.01s ease);
  }
  .active.left, .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .next, .prev {
    left: 0;
    z-index: 1;
  }
  .carousel-control {
    z-index: 3;
  }
}

// Slow carousels - fade from one image to the next in half a second
.carousel.carousel-fade.fade-slow {
  .item {
    .transition(opacity 0.5s ease);
  }
}

// Make all code blocks the same font size as their surroundingsyy
code {
  font-size: inherit;
}

// Responsive styling
// ---------------------------

// Anything smaller than a large desktop screen
@media (max-width: 1199px) {
  #mainCarousel {
    .box-shadow(0px 0px 100px 0px #808580);
  }
}

// Anything tablet-sized or smaller
@media (max-width: 767px) {
  .nav-sidebar {
    visibility: hidden;
    height: 0px;
  }
}